<div class="jumbotron card card-image"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to Galway Houses for Rent and Sale. </strong></h2>
      <p class="mx-5 mb-5"> Looking to sell or let your house ? Looking to purchase or rent a house in Galway ? <br> You're at the right place! 
      </p>
      
    </div>
  </div>
</div>
<br>
<br>

<!-- Jumbotron -->
<div class="jumbotron text-center">

        <!-- Title -->
        <h4 class="card-title h4 pb-2"><strong>Galway</strong></h4>
      
        <!-- Card image -->
        <div class="view overlay my-4 waves-light" mdbWavesEffect>
          <img src="assets/galwaycity.jpeg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
    
      

      
      </div>
      <!-- Jumbotron -->
