<div class="jumbotron card card-image"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong> Add your house below.</strong></h2>
      <p class="mx-5 mb-5"> Simply just fill in the information below   
      </p>
      
    </div>
  </div>
</div>
<br>
<br>

<mat-card id="card" style="text-align: center;">
  <mat-radio-group [(ngModel)]="rentsale">

    <mat-label> <b><u> Select whether property is for Sale or Rent</u> </b> </mat-label>
    <br>
    <br>
    <mat-radio-button value="For Rent">For Rent</mat-radio-button>
    <br>
    <br>
    <mat-radio-button value="For Sale">For Sale</mat-radio-button>
  </mat-radio-group>

  <form (submit)="onAddHomeInfo(homeForm)" #homeForm="ngForm">

    <br>

    <mat-form-field>
      <mat-label>Select Area</mat-label>
      <mat-select [(value)]="area" required>
        <mat-option value="Ballybane">Ballybane</mat-option>
        <mat-option value="Renmore">Renmore</mat-option>
        <mat-option value="Ballybrit">ballybrit</mat-option>
        <mat-option value="Newcastle">Newcastle</mat-option>
        <mat-option value="Salthill">Salthill</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-label> Address </mat-label>
      <input matInput type="text" name="address" ngModel required #title="ngModel">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Eircode</mat-label>
      <textarea matInput name="eircode" ngModel required #content="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rent Per Month / Price of House </mat-label>
      <textarea matInput name="cost" ngModel required #content="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>

      <textarea matInput name="email" ngModel required #content="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Number</mat-label>
      <textarea matInput name="number" ngModel required #content="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <textarea matInput name="name" ngModel required #content="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field>
      <label>Picture of house</label>
      <textarea matInput rows="4" name="houseimage" ngModel required #content="ngModel"></textarea>
    </mat-form-field>

    <mat-form-field>
      <label>House Description</label>
      <textarea matInput rows="4" name="description" ngModel required #content="ngModel"></textarea>
    </mat-form-field>





    <button mat-raised-button color="warn" type="submit">Save Home</button>
  </form>
</mat-card>