<mat-accordion *ngFor="let home of Homes">
    <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h3> {{ home.title }} </h3>
    </mat-panel-title>
    <mat-panel-description>
    <h3>{{ home.year }}</h3>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <img src="{{home.poster}}">
    <mat-action-row>
    <button mat-button [routerLink]="['/edit', home._id]" color="primary">EDIT</button>
    <button mat-button (click)="onDelete(home._id)" color="warn">DELETE</button>
    </mat-action-row>
    </mat-expansion-panel>
    </mat-accordion>