<nav class="navbar navbar-expand-lg navbar-dark light-blue">
  <a class="navbar-brand" [routerLink]="['/homepage']">
    <img src="assets/webapplogo.svg"  height="100" alt="mdb logo">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/homepage']"> Home Page
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/create']">Add Property</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/read']">Ballybane</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ballybrit']">Ballybrit</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/renmore']">Renmore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/salthill']">Salthill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/newcastle']">Newcastle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/rent']">For Rent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sale']">For Sale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/allhomes']">All Homes</a>
      </li>
    </ul>
    <span class="navbar-text white-text">
      Galway Houses for Rent and Sale
    </span>
  </div>
</nav>





<router-outlet></router-outlet>