<mat-toolbar color="primary"> 
  <mat-toolbar-row>
          <span class="title-center">
     Galway Houses For Rent And Sale
  </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
<button mat-button [routerLink]="['/create']" color="Warn">Add Home</button>
<button mat-button [routerLink]="['/read']">Ballybane</button>
<button mat-button [routerLink]="['/ballybrit']">Ballybrit</button>
<button mat-button [routerLink]="['/renmore']">Renmore</button>
<button mat-button [routerLink]="['/salthill']">Salthill</button>
<button mat-button [routerLink]="['/newcastle']">Newcastle</button>
<button mat-button [routerLink]="['/sale']">Houses for Sale</button>
<button mat-button [routerLink]="['/rent']">Houses for Rent</button>
</mat-toolbar-row>
</mat-toolbar>



<router-outlet></router-outlet>